@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html, body {
    background-color: #BE7FE6;
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login {
    position: absolute;
    background-color: white;
    width: 250px;
    height: 515px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.459);

    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    transition: width .3s, height .3s;
    transition-timing-function: ease;
}

section#login > div#imagem {
    display: block;
    background: #281533 url(../imagens/pexels-bruthethe-2747596\ \(1\).jpg) ;
    height: 200px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

section#login > div#form {
    display: block;
    padding: 10px;
}

div#form > h1 {
    text-align: center;
    margin-bottom: 10px;
}

div#form > p {
    font-size: 0.8em;
}

form div.campo {
    background-color: #bf7fe6ce;
    display: block;
    width: 100%;
    height: 40px;
    border-radius: 8px;
    margin: 5px 0px;
    border: 1px solid black;
}

div.campo > i {
    color: rgb(0, 0, 0);
    font-size: 2em;
    width: 40px;
    padding: 5px;
}

div.campo > input {
    background-color: rgba(211, 211, 211, 0.795);
    font-size: 1em;
    height: 100%;
    width: calc(100% - 45px);
    border: none;
    border-radius: 8px;
    padding: 8px;
    transform: translateY(-11px);
}

form > input[type=submit] {
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form > input[type=submit]:hover {
  background-color: rgba(211, 211, 211, 0.486);
}


form > a.botao {
    display: block;
    font-size: 1em;
    text-align: center;
    background-color: rgba(211, 211, 211, 0.315);
    text-decoration: none;
    color: black;
    width: 100%;
    height: 40px;
    border-radius: 5px;
    padding-top: 5px;
    margin-top: 5px;

}

form > a.botao > i {
    font-size: 0.8em;
}

form > a.botao:hover {
    background-color: rgba(211, 211, 211, 0.486);
}

