@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}

body, html {
    background-color: #d184db;
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login {
    position: absolute;
    background-color: white;
    width: 250px;
    height: 500px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.473);

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


section#login > div#imagem {
    display: block;
    background: #2F1333 url(../imagens/pexels-bruthethe-2747596\ \(1\).jpg);
    height: 200px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}


section#login > div#form {
    display: block;
     padding: 10px;
}

